@charset "UTF-8";
:root {
  --primary-font-famili: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --akcent-text-color: #2196f3;
  --wite-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --akcent-bg-color: #2196f3;
  --futer-bg-color: #2f303a;
  --svg-icon-fill: #afb1b8;
}

/* серый-с прозрачностью цвет текста в адресе rgba(255, 255, 255, 0.6); */
/* голубой фон кнопки в ГЕРОЕ при наведении #188CE8; */
/* За допомогою .visually-hidden приховуємо коректно заголовок h2 Особенности нашей работы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.join-list__link {
  display: flex;
  align-items: center;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font-famili);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 95px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  color: var(--wite-text-color);
  background-color: var(--akcent-bg-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36364;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--wite-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding: 0 32px 30px 32px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--svg-icon-fill);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--akcent-bg-color);
  fill: var(--wite-text-color);
}

.logo {
  color: var(--akcent-text-color);
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__dark {
  color: #000000;
}

.logo__lite {
  color: var(--wite-text-color);
}

/* БЕКДРОП */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  padding: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus, .modal-close-btn:hover {
  outline: none;
  fill: var(--akcent-text-color);
}

/* ФОРМА в БЕКДРОПІ */
.contact-form-title {
  font-family: var(--primary-font-famili);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0 0 12px 0;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input {
  margin-top: 4px;
  padding: 0 0 0 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--akcent-text-color);
}

.contact-form-input-wrapper {
  position: relative;
}

.contact-form-explanation {
  font-family: var(--primary-font-famili);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--akcent-text-color);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--akcent-text-color);
}

.contact-form-message::placeholder {
  font-family: var(--primary-font-famili);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper {
  margin-bottom: 30px;
}

.contact-form-checkbox-label {
  font-family: var(--primary-font-famili);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form-checkbox-label::before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 1px solid #000000;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  outline: none;
  border-color: var(--akcent-text-color);
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url("../images/icon-check.svg");
  border: none;
}

.policy-checkbox-link {
  color: var(--akcent-text-color);
}

.contact-form-submit-btn {
  min-width: 200px;
  padding: 10px 55px;
  font-family: var(--primary-font-famili);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--wite-text-color);
  background: var(--akcent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--akcent-bg-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover, .contact-form-submit-btn:focus {
  background: #188ce8;
}

.header {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

/* Навигация сайта */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav__link {
  padding: 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--akcent-text-color);
}

.site-nav__link_current {
  color: var(--akcent-text-color);
}

.site-nav__link_current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--akcent-bg-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Навигация авторизации */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__item + .item {
  margin-left: 50px;
}

.auth-nav__link {
  padding: 32px 0;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--akcent-text-color);
  fill: currentColor;
}

.auth-nav__icon {
  margin-right: 10px;
}

.auth-nav__icon:hover, .auth-nav__icon:focus {
  fill: var(--akcent-text-color);
}

.hero {
  background-color: var(--futer-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-list__item {
  width: calc((100% - 90px) / 4);
}

.feature-list__item + .feature-list__item {
  margin-left: 30px;
}

.feature-list__container {
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  background: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list__paragraph {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  display: flex;
  justify-content: space-between;
}

.work__item {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.work__foto {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.work__paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-text-color);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
}

.team-list__lid {
  background-color: var(--primary-bg-color);
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__lid:nth-child(4n) {
  margin-right: 0;
}

.team-list__foto {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.team-list__description {
  padding: 30px 59px 0 59px;
  margin-bottom: 16px;
}

.team-list__title {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-list__button {
  display: block;
  background-color: var(--primary-bg-color);
  color: var(--svg-icon-fill);
  cursor: pointer;
  padding: 16px 32px;
  border: 1px solid var(--svg-icon-fill);
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__button:hover, .client-list__button:focus {
  outline: none;
  border: 1px solid var(--akcent-text-color);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--akcent-text-color);
}

.client-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* ФУТЕР */
.footer {
  background-color: var(--futer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
}

.address-studio__item {
  margin-bottom: 9px;
}

.address-studio__item:nth-child(3n) {
  margin-bottom: 0;
}

.address-studio__post {
  color: var(--wite-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-studio__post:hover, .address-studio__post:focus {
  color: var(--akcent-text-color);
}

.address-studio__contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-studio__contact:hover, .address-studio__contact:focus {
  color: var(--akcent-text-color);
}

.join__title {
  margin: 0;
  text-transform: uppercase;
  color: var(--wite-text-color);
  font-family: var(--primary-font-famili);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join {
  padding-top: 12px;
}

.container-footer {
  display: flex;
}

.adres-box {
  margin-right: 70px;
}

.join-list {
  display: flex;
  padding: 0;
  margin: 20px 0 0 0;
}

.join-list__item {
  display: block;
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
}

.join-list__item:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 0;
}

.join-list__link {
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--wite-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list__link:hover, .join-list__link:focus {
  background-color: var(--akcent-bg-color);
  fill: var(--wite-text-color);
}

/* ФОРМА в ФУТЕРІ */
.subscription-form {
  padding-top: 12px;
  display: block;
  margin-left: auto;
  min-width: 570px;
}

.subscription-form__paragraph {
  margin: 0;
  font-family: var(--primary-font-famili);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-text-color);
}

.subscription-form__input-wrapper {
  display: flex;
  margin-top: 20px;
}

.subscription-form__input {
  margin-right: 12px;
  padding: 15px 0 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--futer-bg-color);
  font-family: var(--primary-font-famili);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--wite-text-color);
}

.subscription-form__input::placeholder {
  font-family: var(--primary-font-famili);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form__submit-btn {
  font-family: var(--primary-font-famili);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--wite-text-color);
  padding: 10px 28px;
  min-width: 200px;
  background: var(--akcent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscription-form__conteiner-btn {
  position: relative;
}

.subscription-form__icon {
  position: absolute;
  top: 15px;
  right: 30px;
  display: block;
}

/* portfolio */
.project-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project-filter .item + .item {
  margin-left: 8px;
}

.portfolio-button {
  color: var(--primary-text-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  color: var(--wite-text-color);
  background-color: var(--akcent-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.project-description {
  padding: 20px 24px;
}

.project-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-paragraph {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 24;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project-item-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font-famili);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--wite-text-color);
  margin: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-box-wrapper:hover .overlay,
.project-item-box-wrapper:focus .overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */