.logo {
  color: var(--akcent-text-color);
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &__dark {
    color: #000000;
  }

  &__lite {
    color: var(--wite-text-color);
  }
}
