.section-title {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
// 0px - 1199px
@media screen and (max-width: 1199px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
// 1200px +
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
