:root {
  --primary-font-famili: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --akcent-text-color: #2196f3;
  --wite-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --akcent-bg-color: #2196f3;
  --futer-bg-color: #c4c4c4;
  --svg-icon-fill: #afb1b8;
}

/* серый-с прозрачностью цвет текста в адресе rgba(255, 255, 255, 0.6); */
/* голубой фон кнопки в ГЕРОЕ при наведении #188CE8; */
